<!DOCTYPE html>
<html>
<head>
    <title>Force-Directed Layout</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Include d3.v4 or forceSimulation -->
    <script type="text/javascript" src="assets/js/forceInABox.js"></script>
    <script type="text/javascript" src="public/spider.js"></script>
    <script src="sigma.js/build/sigma.min.js"></script>
    <script src="sigma.js/build/plugins/sigma.plugins.animate.min.js"></script>
    <script src="sigma.js/build/plugins/sigma.layout.forceAtlas2.min.js"></script>
    <script src="sigma.js/build/plugins/sigma.layout.noverlap.min.js"></script>
    <script src="sigma.js/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
    <script src="sigma.js/plugins/sigma.layout.forceAtlas2/worker.js"></script>
    <script src="sigma.js/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>
    <script src="assets/js/md5.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/force.css"/>
    <style type="text/css">
        #container {
            height: 900px;
            margin: auto;
        }
    </style>
</head>